---
interface Props {
  articleTitle: string;
}

const { articleTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{articleTitle}</title>
  </head>
  <body>
    <main>
      <header>
        <h3><a class="title" href="/sukesan-blog/">sukeの雑多ブログ</a></h3>
      </header>
      <h1>{articleTitle}</h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  a {
    color: #96b4e9;
  }
  header {
    margin-bottom: 5rem;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #105a7a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .title {
    color: rgb(218, 218, 218);
  }
</style>
